

*, *::before, *::after{
	box-sizing: border-box;
}

body{
	background: url(img/background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-color: #000;
	background-size: cover;
	margin: 0;
	color: #fff;
	font-family: 'Poppins';
	overflow: overlay;
}

/* ======== Scrollbar ========= */

::-webkit-scrollbar{
	width: 10px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb{
	background: rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius:25px;
}


p{
	margin: 0;
}

/* ======== Main ========= */

.main{
	padding: 9.375rem 0 3.75rem 0;
}

.main-inner{
	display: grid;
	grid-template-areas: 
	"side head"
	"side content";
	gap: 10px 40px;
}

/* ======== Container ========= */

.container{
	margin: 0 auto;
	max-width: 80.625rem;
	padding: 0 10px;
	height: 100%;
}

/* ======== -------- ========= */

.head-box,
.side, 
.content-box{
	background-color: #000;
	border-radius: 1rem;
}

/* =============================== HEAD ==================================== */

.head{
	max-height: 9em;
	grid-area: head;
	display: grid;
	justify-content: end;
}

.head-box{
	max-width: 28.5em;
	padding: 1.875rem;
}

.head-inner{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 0 1.25rem;
}

.head-item{
	fill: #A6A6A6;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 5.25em;
	height: 5.25em;
	background: #212425;
	border-radius: 0.75em;
	color: #A6A6A6;
	top: 0;
	transition: 0.2s top ease;
	cursor: pointer;
}

.head-item:hover{
	background: #2f3335;
	fill: #fff;
	color: #fff;
	top: -3px;
}

.head-item p{
	margin: 0;
}

.head-item.active{
	background: linear-gradient(153.43deg, #FA5252 16.67%, #DD2476 100%);
	color: #fff;
	fill: #fff;
}

.head-item.active:hover{
	top: 0;
	background: linear-gradient(153.43deg, #FA5252 16.67%, #DD2476 100%);
}


.head-icon{
	height: 1.875em;
	width: 1.65em;
}

.head-icon-s{
	width: 1.25em;
}

.head-item form a{
	top: 0;
	left: 0;
	opacity: 1;
	position: absolute;
	height: 100%;
	width: 100%;
}


/* =============================== SIDEBAR ==================================== */

.side{
	width: 405px;
	height: 555px;
	grid-area: side;
}

.side-inner{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1.25rem;
}

.side-title{
	position: absolute;
	text-transform: uppercase;
	width: 100%;
	height: 12%;
	background-color: #111111;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	font-style: normal;
	font-weight: 500;
	font-size: 1.685rem;
}

.side-subtitle{
	display: grid;
	margin-top: 5.3125em;
	justify-content: center;
	color: #A6A6A6;
	font-weight: 500;
	cursor: default;
}

.side-round{
	padding: 5px 0px;
	max-height: 2.125rem;
	width: 8.75rem;
	background: #111111;
	border-radius: 0.5rem;
}

/* ======== Social ========= */

.side-social{
	display: flex;
	justify-content: center;
	gap: 0.625rem;
}
.side-social a{
	height: 2.5em;
	width: 2.5em;
	background-color: #111111;
	border-radius: 0.7rem;
	outline: 2px solid rgb(119, 119, 119);
	transition-duration: 0.14s;
}

.side-social a svg{
	color: #A6A6A6;
	margin-top: 10px;
	font-size: 1.25rem;
}

.side-social a:hover{
	outline-offset: 3px;
}


.instagram:hover{
	/*background: #C13584*/
	background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
	outline-color: #d92e7f;
}

.instagram svg{
	transform: scale(1.08);
}

.telegram:hover{
	background: #0088CC;
	outline-color:#0088CC;
}

.github:hover{
	outline-color: #fff;
}

.side-social a:hover svg{
	color: #fff;
}

/* ========= Side Info ========= */

.side-info-box{
	position: absolute;
	bottom: 5%;
	height: 20.625rem;
	width: 82%;
	padding: 1.875rem;
	border-radius: 1rem;
	background: #111111;
}

.side-info-content{
	padding-top: 10px;
	text-align: left;
	display: grid;
	grid-template-columns: 25% 75%;
	border-bottom: 1px solid #3D3A3A;
}

.side-info-icon{
	display: flex;
}

.side-info-content:nth-child(2){
	padding: 0;
}

.side-info-content:last-child{
	border: 0;
}

.side-info-content p{
	margin: 0;
	color: #A6A6A6;
	font-size: 0.75rem;
}

.side-info-content a{
	text-decoration: none;
	color: #fff;
}

.side input,
.side label{
	display: none;
}

/* =============================== CONTENT ==================================== */

.content{
	grid-area: content;
	opacity: 0;
	transform: translate(-5px, 0px);
	transition: transform .2s ease-out;
}

.content.show{
	opacity: 1;
	transform: translate(0px, 0px);
	z-index: 1;
}

.content-box{
	max-width: 70rem;
	padding: 3.75rem;
	
}

.content-title{
	max-height: 3.125rem;
	display: flex;
	align-items: center;
}

.content-title span{
	font-family: 'Roboto Slab';
	font-weight: 700;
	font-size: 2.5rem;
	width: 11.875rem;
	color: #FFFFFF;
	margin-right: 1.875rem;
}

.content-title h3{
	font-size: 1.75rem;
	font-weight: 500;
	padding-top: 10px;
}

.content-text{
	margin: 10px 0;
}

.content p{
	color: #A6A6A6;
}


.content-title-about{
	margin-bottom: 1.875rem;
}

/* ======== Content Inner ========= */

.content-inner{
	margin-top: 1.875rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.875rem;
}

.content-item{
	display: flex;
	width: auto;
	height: auto;
	border-radius: 12px;
	border: 2px solid #212425;
	padding: 1.25rem;
	gap: 10px 20px;
}

.content-item.about{
	display: grid;
	grid-template-columns: 16% 1fr;
}

.content-item-text h3{
	margin: 0;
	font-size: 1.75rem;
	font-weight: 500;
}

.content-icon i {
	font-size: 45px;
	color: #D566FF;
}

.content-icon.blue i{
	font-size: 40px;
	color: #269FFF;
}

.content-item li{
	line-height: 2;
}

.content-item li span{
	color: #A6A6A6;
}

.content-item-back li{
	color: #D566FF;
}

.content-item-front li{
	color: #269FFF;
}

/* =============================== RESUME ==================================== */

.content-inner-resume-bottom{
	margin: 0;
}

.content-item-resume{
	display: grid;
	align-items: center;
}

.content-item-exp p{
	font-size: 14px;
}

.content-item-title{
	font-size: 1.25rem;
}

.content-item-title span{
	color: #A6A6A6;
}

.resume-item-title{
	display: flex;
}


/* ======== Resume Left ========= */

.resume-left{
	display: flex;
	flex-direction: column;
}

.resume-item{
	margin: 15px 0 15px 0;
}

/*.resume-item-bottom{
	margin-bottom: 0;
}*/

.resume-title{
	margin-left: 10px;
	font-weight: 500;
	font-size: 26px;
	cursor: default;
}

.resume-title-skill{
	margin: 0;
}


/* ======== Resume Left Progress ========= */

.content-progress{
	background: #0D0D0D;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.skill-info{
	max-width: 31.25rem;
	margin-bottom: 8px;
}

.skill-bar{
	height: 6px;
	width: auto;
	display: grid;
	border-radius: 18px;
}

.progress-bar {
	border-radius: 18px;
}

.progress-bar-java{
	background: #f89820;
}

.progress-bar-html{
	background: #f06529;
}

.progress-bar-css{
	background: #2965f1;
}

.progress-bar-js{
	background-color: #f0db4f;
}

/* ======== Resume Right ========= */

.resume-inner{
	margin-top: 1.875rem;
}

.resume-right-skills{
	padding: 5px 20px;
	display: inline-block;
	margin: 0 12px 20px 0;
	background: #1C1C1C;
	height: 34px;
	color: #A6A6A6;
	border-radius: 8px;
	cursor: default;
}

/* =============================== WORKS ==================================== */

.content-item-work{
	max-width: 28.125rem;
	position: relative;
	display: inline-block;
	transition: all 0.2s ;
}

.gif{
	display: block;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 12px;
	border: 0;
}

a.gif img{
	border-radius: 12px;
	visibility: hidden;
	width: 100%;
	border: 0;
}

.content-item-work:hover a{
	background: none;
}

.content-item-work:hover a img{
	visibility: visible;
}
.content-item-work .overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.content-item-work p{
	font-size: 12px;
	padding-top: 10px;
}

.content-item-work span{
	font-weight: 500;
}

/* ======== Workshop Backgrounds ========= */

.frost{
	background-image: url(img/works/frost.png);
}

.activeBox{
	background-image: url(img/works/ActiveBox.png);
}

.hoverboard{
	background-image: url(img/works/hoverboard.png);
}

.expandingCards{
	background-image: url(img/works/expandingCards.png);
}

.clock{
	background-image: url(img/works/Clock1.png);
}

.faq{
	background-image: url(img/works/FAQ.png);
}

.apple{
	background-image: url(img/works/Apple.png);
}



/* =============================== CONTACT ==================================== */

.contact-box{
	margin-top: 1.875rem;
	max-height: 900px;
	border: 2px solid #212425;
	border-radius: 12px;
	padding: 60px 45px;
	display: grid;
	gap: 60px 0;
}

.contact-text{
	font-size: 25px;
	font-weight: 400;
}

.contact-text span{
	color: #fff;
}


.contact-input input,
.contact-input textarea,
.contact-button button{
	width: 100%;
	border: none;
	outline: none;
	background: #000;
	border-bottom: 1px solid #333333;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Poppins';
}

.contact-input textarea{
	height: 100px;
}

.contact-button button{
	height: 50px;
	width: 133px;
	border: 2px solid #333333;
	color: #A6A6A6;
	border-radius: 12px;
	font-size: 18px;
	transition: all .2s;
	cursor: pointer;
}

.contact-button button:hover{
	background: #212425;
	color: #fff;
	border: 2px solid #A6A6A6;
}


/* =============================== MEDIA 1084 ==================================== */

@media (max-width: 1084px){

	/* ======== Main ========= */

	.main{
		padding: 3.125rem 0 3.75rem 0;
	}

	.main-inner{
		display: grid;
		grid-template-areas:
		"side"
		"head"
		"content";
	}
	
	.container{
		padding: 0;
	}

	/* ======== Head ========= */

	.head{
		display: block;
	}

	.head-box{
		max-width: 100rem;
	}

	.head-item{
		flex-direction: row;
		height: 50px;
		width: auto;
	}

	.head-icon{
		margin-right: 10px;
	}


	/* ======== Sidebar ========= */

	.side{
		margin: 0 auto;
		height: 230px;
	}

	.side-inner{
		gap: 15px;
	}
	
	.side-title{
		height: auto;
	}
	
	.side-subtitle{
		margin-top: 55px;
	}

	/* ===== Social ===== */

	.side-social a{
		height: 42px;
		width: 42px;	
		border: 2px solid rgb(119, 119, 119);
		outline: none;
	}

	.side-social a svg{
		margin-top: 9px;
	}

	.side-social a:hover{
		border: 2px solid #fff;
	}

	.side-info-box{
		display: flex;
		justify-content: center;
		height: 58px;	
		padding: 5px;
	}

	.side-info-content{
		border: 0;
		padding: 0;
	}

	.side-info-text{
		display: none;
	}
	.side input{
		display: none;
	}

	.side label{
		display: block;
	}

	.side.active{
		height: 485px;
	}

	/* ======== Sidebar arrow ========= */

	.side-display{
		position: absolute;
		top: 17px;
		right: 10px;
		display: flex;
		justify-content: center;
		border-radius: 50%;
		width: 25px;
		height: 25px;
		cursor: pointer;
	}

	.side-display i {
		transition: transform .2s ease-out;
		cursor: pointer;
		color: #A6A6A6;
	}

	.side-display i:hover{
		color: #fff;
	}

	.side.active .side-display i{
		transform: rotate(180deg);
		color: #fff;
	}

	.side.active .side-info-box{
		flex-direction: column;
		bottom: 5%;
		height: 300px;
		padding: 1.875rem;
	}

	.side.active .side-info-box .side-info-text{
		display: block;
	}

	.side.active .side-info-box .side-info-content{
		padding-top: 10px;
		text-align: left;
		display: grid;
		grid-template-columns: 25% 75%;
		border-bottom: 1px solid #3D3A3A;
	}

	.side.active .side-info-box .side-info-content:last-child{
		border: 0;
	}

	/* ======== Content ========= */

	.content{
		display: none;
	}

	.content.show{
		display: block;
	}

	.content-title-bar img{
		width: 500px;
	}

	.content-inner{
		grid-template-columns: 1fr 1fr;
	}

}


/* =============================== MEDIA 860 ==================================== */


@media (max-width: 860px){

	/* ======== Content ========= */
	
	.content-box{
		padding: 1.875rem;
	}
	.content-inner{
		display: grid;
		grid-template-columns: auto;
		justify-content: center;
	}
	
	.content-item{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width:auto;
		min-width: 400px;
	}

	.content-title-bar img{
		width: 350px;
	}

	/* ======== Content About ========= */

	.content-item.about{
		display: grid;
		grid-template-columns: 15% 1fr;
		min-width: 320px;
		justify-content: start;
		align-items: flex-start;
	}

	/* ======== Content Resume ========= */

	.content-inner-resume{
		justify-content: center;
	}

	/* Resume Left */

	.resume-left{
		max-width: 90%;
	}

	.resume-item-exp{
		grid-row: 3 / 4;
	}

	.content-inner-resume-bottom{
		gap: 10px;
	}

	/* ======== Content Work ========= */

	.content-item-work{
		align-items: flex-start;
	}

}

/* =============================== MEDIA 650 ==================================== */

@media (max-width: 650px){

	/* ======== Head ========= */

	.head-box{
		height: 100px;
		padding: 25px 10px;
	}

	.head-icon{
		margin: 0;
	}

	/* ======== Sidebar ========= */

	.side{
		height: 225px;
	}

	.side.active{
		height: 480px;
	}

	.side-title{
		font-size: 1.5rem;
	}

	.side-subtitle{
		margin-top: 50px;
	}

	/* ======== Content ========= */

	.content-title span{
		font-size: 2.2rem;
	}

	.content-title-h3 h3{
		font-size: 1.5rem;
	}

	.content-title-bar{
		display: none;
	}

	/* ======== Resume ========= */

	.resume-left{
		max-width: 100%;
	}

	/* ======== CONTACT ========= */

	.content-contact .contact-text {
		font-size: 1.25rem;
	}

}

/* =============================== MEDIA 465 ==================================== */

@media (max-width: 465px){
	
	/* ======== Scrollbar ========= */

	::-webkit-scrollbar{
		width: 0px;
	}

	/* ======== Main ========= */

	.main{
		padding: 40px 0;
	}

	/* ======== Head ========= */

	.head-box{
		padding: 10px;
	}

	.head-inner{
		display: flex;
		justify-content: center;
	}
	
	.head-item{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 80px;
		height: 80px;
		flex: 1;
	}

	.head-item p {
		font-size: 0.8rem;
	}

	/* ======== Content ========= */

	.content-box{
		padding: 10px 10px 20px 10px;
	}

	.content-title span{
		font-size: 1.9rem;
	}

	.content-inner{
		gap: 1rem;
	}

	/* ======== About ========= */

	.content-item,
	.content-item.about{
		min-width: 0px;
	}

	.content-item.about{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	/* ======== Resume ========= */

	.resume-title{
		font-size: 1.3rem;
	}

	/* ======== CONTACT ========= */

	.contact-box{
		margin-top: 2rem;
		padding: 30px;
	}
}

/* =============================== MEDIA 450 ==================================== */

@media (max-width: 450px){

	/* ======== Sidebar ========= */

	.side{
		max-width: 280px;
		height: 210px;
	}

	.side.active{
		height: 400px;
	}

	.side-title{
		font-size: 1.3em;
	}

	.side-subtitle{
		margin-top: 45px;
	}

	.side-info-box{
		height: 50px;
	}

	.side.active .side-info-box{
		height: 230px;
		padding: 10px;
	}

	.side-info-content{
		font-size: 10px;
	}

	.side-info-text p{
		font-size: 0.8em;
	}

	.side-display{
		height: 20px;
		width: 20px;
		font-size: 12.5px;
		right: 5px;
	}

	.side-display i{
		font-size: 12px;
	}

	.side-info-content .side-info-icon img{
		width: 45px;
		height: 45px;
	}

	.side.active .side-info-box .side-info-content{
		padding-top: 10px;
	}

	.side.active .side-info-content .side-info-icon img{
		width: 40px;
		height: 40px;
	}
}

/* =============================== MEDIA 350 ==================================== */

@media(max-width: 350px){

	/* ======== Head ============ */

	.head-inner{
		gap: 5px;
	}

	/* ======== Sidebar ========= */

	.side{
		height: 190px;
	}

	.side.active{
		height: 380px;
	}

	.side-title{
		font-size: 1em;
	}

	.side-subtitle{
		margin-top: 35px;
	}

	.side-round{
		font-size: 0.8em;
	}
}

